@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00- U+D7A3;
}

body {
  font-family: "Orbit-Regular", "ChosunCentennial";
}

* {
  font-family: inherit;
}

.swiper-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
