@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Orbit-Regular";
}
