@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale-up-down {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-scale-up-down {
  @apply animate-[scale-up-down_1.0s_ease-in-out_infinite];
}
